<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-row class="user-details">
        <ion-col size="2">
          <ngx-avatar [name]="currentUser.displayName" size="40" round="true"></ngx-avatar>
        </ion-col>

        <ion-col size="10">
          <ion-row>
            <ion-col size="9">
              <ion-label *ngIf="!editClicked; else canEdit">Username: {{ currentUser.displayName }}</ion-label>
              <ng-template #canEdit>
                <ion-input type="text" [(ngModel)]="editUsernameText" placeholder="Change Username"></ion-input>
              </ng-template>
            </ion-col>
            <ion-col size="3">
              <ion-button *ngIf="!editClicked; else completeEdit" (click)="editUsername()">Edit</ion-button>
              <ng-template #completeEdit>
                <ion-button (click)="markComplete()" [disabled]="editUsernameText.length == 0" color="success">Done</ion-button>
              </ng-template>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Email: {{ currentUser.email }}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item button (click)="todoService.deleteUserAccount()">
      <ion-label color="danger">Delete account permanently</ion-label>
    </ion-item>

    <ion-item button (click)="logoutAction()">
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
