<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Todo manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Sign up</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="signupForm" autocomplete="off">
              <ion-item>
                <ion-label position="floating" class="required-field">Full Name</ion-label>
                <ion-input type="text" [formControl]="name"></ion-input>
              </ion-item>
              <ion-label color="danger">{{ formError?.name }}</ion-label>
              <ion-item>
                <ion-label position="floating" class="required-field">Email</ion-label>
                <ion-input type="text" [formControl]="email"></ion-input>
              </ion-item>
              <ion-label color="danger">{{ formError?.email }}</ion-label>
              <ion-item>
                <ion-label position="floating" class="required-field">Password</ion-label>
                <ion-input type="password" [formControl]="password"></ion-input>
              </ion-item>
              <ion-label color="danger">{{ formError?.password }}</ion-label>
              <ion-button color="success" expand="block" class="ion-margin-top" [disabled]="signupForm.invalid" (click)="signup()">
                <ion-spinner *ngIf="signupInProgress" name="lines-small"></ion-spinner>
                Create Account
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
