<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todos">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Tods</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Completed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
